.category-text {
    color: #4D4B4A;
}

.category-organizations {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.individual-organization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    text-align: center;
    margin: 10px;
}

.individual-organization a {
    color: #48A9A6;
}

.organization-logo {
    width: 80px;
    height: 80px;
    border: 2px solid #262322;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}


