@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 100px 50px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Open Sans', sans-serif;
}

select, option, button {
  font-family: 'Open Sans', sans-serif;
}

.txt-is-blue {
  color: #48A9A6;
}

.txt-is-orange {
  color: #E55934;
}

.txt-is-violet {
  color: #2E1760;
}

.is-bold {
  font-weight: bold;
}

.hide {
  display: none;
}

.has-margin-right-top {
  margin-right: 10px;
  margin-top: 5px;
}

.has-margin-right {
  margin-right: 10px;
}

.has-margin-1 {
  margin: 10px 0;
}

.has-margin-2 {
  margin: 20px 0;
}

.has-margin-3 {
  margin: 30px 0;
}

.has-margin-4 {
  margin: 40px 0;
}

.has-margin-5 {
  margin: 50px 0;
}

.has-margin-6 {
  margin: 60px 0;
}

.has-padding-1 {
  padding: 10px;
}

.has-padding-2 {
  padding: 20px;
}

.has-padding-3 {
  padding: 30px;
}

.has-padding-4 {
  padding: 40px;
}

.has-padding-5 {
  padding: 50px;
}

.has-padding-6 {
  padding: 60px;
}

.align-items-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.align-items-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.category {
  display: flex;
  flex-direction: column;
  text-align:center;
  width: 200px;
}

.profile-donations {
  display: flex;
  flex-direction: column;
}

.profile-interests {
  display: flex;
  flex-direction: column;
}

.donor-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card .fixed-logo-size {
  height: auto;
  width: 180px;
}

.campaign-blurb-columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.blurb {
  height: 450px;
  text-align: center;
}

.search-input {
  width: 500px;
}

.dropdown-content {
  max-height: 13em;
  overflow: auto;
}

.d-main {
  width: 500px;
}

.dc-nav {
  width: 190px;
  max-height: 13em;
}

.di-nav {
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.campaign-main-img {
  width: 550px;
  border-radius: 25px;
}

.donation-comments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}